<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqjtu.ets.onlinejudge.mapper.OjProgrammingProblemMapper">
    <sql id="BaseColNames">
        problem_id,problem_name,problem_detail,input_description,output_description,test_input_data_path,test_output_data_path,tips,created_time,
        cpu_time_limited,real_time_limited,memory_limited,io_sample,special_judge,sj_code_path,is_compiled,end_time
    </sql>
    <select id="selectByPK" parameterType="java.lang.Long" resultType="com.cqjtu.ets.onlinejudge.model.entity.OjProgrammingProblem">
        select
        <include refid="BaseColNames"></include>
        from oj_programming_problem
        where problem_id = #{problem_id}
    </select>
    <update id="updateIsCompiled" parameterType="com.cqjtu.ets.onlinejudge.model.entity.OjProgrammingProblem">
        UPDATE oj_programming_problem
        SET
        is_compiled = #{is_compiled}
        where problem_id=#{problem_id}
    </update>
</mapper>