<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">

<head>
  <meta charset="utf-8">
  <title>实验评测</title>
  <link rel="shortcut icon" href="#" />
    <!--  引入css文件-->
    <link rel="stylesheet" href="https://www.layuicdn.com/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/ets/onlinejudge/css/problem_page.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css">
</head>

<div id="text-editor" class="layui-hide" style="width: 800px;padding-left: 1px;"></div>

<body class="layui-bg-gray">

  <div id="progress-container" style="position: fixed;top: 0; width:100%;height: 10px;z-index: 100;">
    <div class="layui-progress" lay-filter="uploadFilesProgress">
      <div class="layui-progress-bar layui-bg-green" lay-percent="100%"></div>
    </div>
  </div>


  <div class="layui-container">
    <div class="layui-card" style="margin-top: 20px;">
      <div class="layui-card-body">
        <div class="layui-row" id="experiment-title-container">
          <div class="layui-col-lg12 parent-text-align-center">
            <!--/*@thymesVar id="experimentId" type="java.lang.Long"*/-->
            <span id="experimentId" th:text="${programmingProblem.getProblem_id()}" style="display: none;"></span>
            <!--/*@thymesVar id="experimentTitle" type="java.lang.String"*/-->
            <span id="experiment-title" th:text="${programmingProblem.getProblem_name()}" style="font-size: 2em;"></span>
            <!--/*@thymesVar id="judgeStatus" type="java.lang.String"*/-->
            <!--/*@thymesVar id="judgeStatusColor" type="java.lang.String"*/-->
            <i class="layui-icon" th:classappend="${judgeStatus}" id="commit-status-icon" th:styleappend="${judgeStatusColor}" style="font-size: 20px;"></i>

          </div>
        </div>
        <br>
        <br>
        <br>
        <div class="layui-row parent-text-align-center" id="experiment-limit-container">
          <div class="layui-col-lg3" th:text="'发布时间:' + ${programmingProblem.getCreated_time()}">
          </div>
          <div class="layui-col-lg3" th:text="' 截止时间:' + ${programmingProblem.getEnd_time()}">
          </div>
          <div class="layui-col-lg3" th:text="'CPU 时间限制:' + ${programmingProblem.getCpu_time_limited()} + 'ms'">
            <i class="layui-icon layui-icon-about"></i>
          </div>
          <div class="layui-col-lg3" th:text="'内存占用限制:' + ${programmingProblem.getMemory_limited()} + 'KB'">
            <i class="layui-icon layui-icon-about"></i>
          </div>
        </div>
      </div>
    </div>



  <div class="layui-row regular-border" id="experiment-other-info-container">

    <div class="layui-col-lg6" id="problem-container" style="height:800px;overflow-y: auto;">

      <div class="layui-row"  id="problem-detail-container">
        <div class="layui-card">
          <div class="layui-card-header">
            <h3><strong>题目描述</strong></h3><br>
          </div>
          <div class="layui-row multiline-text-padding layui-card-body">
            <!--/*@thymesVar id="problemDetail" type="java.lang.String"*/-->
            <p th:text="${programmingProblem.getProblem_detail()}">
            </p>
          </div>
        </div>
      </div>
      <br>

      <div class="layui-row"  id="problem-input-description-container">
        <div class="layui-card">
          <div class="layui-card-header">
            <h3><strong>输入描述</strong></h3><br>
          </div>
          <div class="layui-row multiline-text-padding layui-card-body">
            <!--/*@thymesVar id="inputDescription" type="java.lang.String"*/-->
            <p th:text="${programmingProblem.getInput_description()}">
            </p>
          </div>
        </div>
      </div>
      <br>

      <div class="layui-row"  id="problem-output-description-container">
        <div class="layui-card">
          <div class="layui-card-header">
            <h3><strong>输出描述</strong></h3><br>
          </div>
          <div class="layui-row multiline-text-padding layui-card-body">
            <!--/*@thymesVar id="outputDescription" type="java.lang.String"*/-->
            <p th:text="${programmingProblem.getOutput_description()}">
            </p>
          </div>
        </div>
      </div>
      <br>

      <div class="layui-row"  id="problem-io-sample-container">
        <div class="layui-card">
          <div class="layui-card-header">
            <h3><strong>输入输出示例</strong></h3><br>
          </div>
          <div class="layui-row multiline-text-padding layui-card-body">
            <!--/*@thymesVar id="ioSample" type="java.lang.String"*/-->
            <p th:text="${programmingProblem.getIo_sample()}">
            </p>
          </div>
        </div>
      </div>
      <br>

      <div class="layui-row"  id="problem-tips-container">
        <div class="layui-card">
          <div class="layui-card-header">
            <h3><strong>提示</strong></h3><br>
          </div>
          <div class="layui-row multiline-text-padding layui-card-body">
            <!--/*@thymesVar id="tips" type="java.lang.String"*/-->
            <p th:text="${programmingProblem.getTips()}">
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="layui-col-lg6" id="judge-container" style="height:800px;padding: 10px;overflow-y: auto;">



      <div class="layui-card">
        <div class="layui-card-body">
          <div class="layui-row">
            <div class="layui-col-lg12" style="height: 200px; overflow-y: auto;">
              <!--          <table id="chosen-files-table"></table>-->
              <table id="file-list-table" lay-filter="table" class="layui-table" style="padding: 10px;">
                <thead>
                <tr>
                  <th>文件名</th>
                  <th>大小</th>
                  <th>状态</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody id="fileListBody">
                <tr th:each="file:${uploadedFilesList}">
                  <td class="layui-table-cell laytable-cell-1-0-0" th:text="${file.getFileName()}"></td>
                  <td class="layui-table-cell laytable-cell-1-0-0" th:text="${file.getFileSizeStr()}"></td>
                  <td class="layui-table-cell laytable-cell-1-0-0"><span style="color: #5FB878;">已上传</span></td>
                  <td></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <br>

          <div class="layui-row" id="choose-upload-row">
            <div class="layui-col-lg8">
              <!--/*@thymesVar id="chooseFileAvailable" type="java.lang.String"*/-->
              <button type="button" class="layui-btn layui-btn-radius layui-btn-normal layui-btn-fluid" th:classappend="${chooseFileAvailable}" id="choose-file-btn">
                <i class="layui-icon">&#xe67c;</i>拖拽文件到此处或选择文件
              </button>
            </div>
            <div class="layui-col-lg4" style="padding-left: 3px;">
              <button class="layui-btn layui-btn-radius layui-btn-warm layui-btn-fluid" th:classappend="${uploadAvailable}" id="upload-btn">上传</button>
            </div>
          </div>
          <br>

          <div class="layui-row">
            <div class="layui-col-lg3">
              <button class="layui-btn" id="compile-method-btn" style="margin-left: 5px;">
                <span compile-method-id="1" id="compile-method-text">编译方式</span><i class="layui-icon layui-icon-down layui-font-12"></i>
              </button>
            </div>

            <div class="layui-col-lg8">
                <button class="layui-btn layui-btn-primary layui-btn-fluid" th:classappend="${judgeAvailable}" id="judge-btn">
                  <i id="judge_loading_icon" class="layui-icon layui-icon-loading layui-hide" style="font-size: 20px;color:#009688"></i>
                  <span id="judge-status-text">开始评测</span>
                </button>
            </div>

            <div class="layui-col-lg1">
              <i id="program-args-help-icon" class="layui-icon layui-icon-about" style="font-size: 24px;position: absolute;left:8px;top: 8px;cursor: pointer"></i>
            </div>
          </div>
        </div>
      </div>


      <div class="layui-row layui-hide" id="compile-info-panel" style="position: relative;">
        <div class="layui-col-lg12" style="height: 200px; overflow: auto;">
          <div class="layui-card">
          <div class="layui-card-body">
              <p id="compile-info" style="padding-left: 10px;padding-top: 25px;">
              </p>
            <button id="detail-popup-btn" class="layui-btn layui-btn-primary" style="position: absolute;right: 10px;top: 1px;">详情</button>
          </div>
        </div>
        </div>
      </div>

      <!--/*@thymesVar id="runInfoPanelAvailable" type="java.lang.String"*/-->
      <div class="layui-row" th:classappend="${runInfoPanelAvailable}" id="run-info-panel">
        <div class="layui-col-lg12">
          <div class="layui-card">
            <div class="layui-card-header">
              <i id="run-info-panel-icon" class="layui-icon layui-icon-console" style="color:#FF9966;font-size: 1em;"></i>
              资源占用情况&nbsp
              <i id="resource-help-icon" class="layui-icon layui-icon-about" style="cursor: pointer;font-size: 24px; position: absolute;"></i>
            </div>
            <div class="layui-card-body" id="run-info-panel-body">
              <div class="layui-btn-container">
                <button class="layui-btn layui-btn-primary layui-border-blue">
                  总时间：<span id="real-time" th:text="${judgeDetail!=null?T(java.lang.String).format('%.2f',judgeDetail.getUsed_real_time()*1000)+' ms':''}"></span>
                </button>
                <button class="layui-btn layui-btn-primary layui-border-blue">
                  CPU时间：<span id="cpu-time" th:text="${judgeDetail!=null?T(java.lang.String).format('%.2f',judgeDetail.getUsed_cpu_time()*1000)+' ms':''}"></span>
                </button>
                <button class="layui-btn layui-btn-primary layui-border-blue">
                  总内存：<span id="memory" th:text="${judgeDetail!=null?judgeDetail.getUsed_memory()+' kB':''}"></span>
                </button>
                <button class="layui-btn layui-btn-primary layui-border-blue">
                  栈：<span id="stack" th:text="${judgeDetail!=null?judgeDetail.getUsed_stack()+' kB':''}"></span>
                </button>
                <button class="layui-btn layui-btn-primary layui-border-blue">
                  数据段：<span id="data" th:text="${judgeDetail!=null?judgeDetail.getUsed_data()+' kB':''}"></span>
                </button>
                <button class="layui-btn layui-btn-primary layui-border-blue">
                  二进制文件大小：<span id="exe-size" th:text="${judgeDetail!=null?judgeDetail.getUsed_exe_size()+' kB':''}"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>

      <div class="layui-row" th:classappend="${gradeInfoPanelAvailable}" id="grade-info-panel">
        <div class="layui-col-lg12">
          <div class="layui-card">
            <div class="layui-card-header">
              <i id="grade-info-panel-icon" class="layui-icon layui-icon-form" style="color:#FF9966;font-size: 1em;"></i>
              评测分数&nbsp
              <span style="font-size: 1.5em;color:#1E9FFF" id="judge-score-text"></span>
            </div>
            <div class="layui-card-body" id="grade-info-panel-body" th:utext="${gradeInfoStr}">
            </div>
          </div>
      </div>

    </div>

  </div>

</div>

  </div>

<script src="https://www.layuicdn.com/layui/layui.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.0.0-alpha0/highlight.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/wangeditor@latest/dist/wangEditor.min.js"></script>
<script src="/ets/onlinejudge/js/problem_page.js"></script>
<script>

</script>


</body>

</html>